.cardKpi {
    height: 95%;
    width: 32%;
    background-color: rgb(255, 255, 255);

    border-radius: 15px;
    border: 2px solid #ccc;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardKpi .headerCard {
    height: 35%;
    width: 90%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.cardKpi .contentCard {
    height: 65%;
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardKpi .contentCard h1 {
    font-size: 2.5rem;
}